 


.banner{
  width: 100%;
  height: 100vh;
  background-image: url(images/signup.jpg);
  background-size: cover;
  background-position: center;
}

.register{
  background: #ffffff00;
  /* margin-top: 3%; */
  padding-top: 7%;
}

.register-left{
  text-align: center;
  color: #ae0000;
  margin-top: 13%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.logo-center {
  width: 200px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Display the image as a block element */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
  border-radius: 20%;
}


.ml-2{
  color:#383d41
}
.register-right{
  background: #ffffff00;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}

.btn{
  float: right;
  margin-top: 0%;
  border: none;
  border-radius: 1rem;
  padding: 2%;
  background: #b40000;
  color: #ffffff;
  font-weight: 600;
  width: 17%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}